tempearture_report/tweet_temperature.json
[{"id":"34364de.cb072b2","type":"tab","label":"Weather report"},{"id":"9d036291.8189","type":"inject","z":"34364de.cb072b2","name":"Temperature poll","topic":"","payload":"report_temperature()","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":150,"y":100,"wires":[["27d65ca2.7b6db4"]]},{"id":"d54d6584.600fa8","type":"switch","z":"34364de.cb072b2","name":"Filter temperature messages","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"°C","vt":"str"}],"checkall":"true","outputs":1,"x":440,"y":160,"wires":[["dd6b8908.1c9418"]]},{"id":"27d65ca2.7b6db4","type":"function","z":"34364de.cb072b2","name":"Add carriage return","func":"msg.payload = msg.payload+\"\\r\"; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["36390717.1125a8"]]},{"id":"91d9ee6c.290c","type":"debug","z":"34364de.cb072b2","name":"","active":true,"console":"false","complete":"false","x":1210,"y":200,"wires":[]},{"id":"dd6b8908.1c9418","type":"function","z":"34364de.cb072b2","name":"Remove any newlines","func":"msg.payload = msg.payload.replace(\"\\n\",\"\");\nmsg.payload = msg.payload.replace(\"\\r\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["e0e1a44.3440158"]]},{"id":"e0e1a44.3440158","type":"template","z":"34364de.cb072b2","name":"Add text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It is currently {{payload}} in the lab","x":860,"y":160,"wires":[["23d8b946.ef1156"]]},{"id":"23d8b946.ef1156","type":"function","z":"34364de.cb072b2","name":"Add timestamp","func":"var timestamp = new Date().toString();\nvar measured = \" – measured \" + timestamp;\nmsg.payload = msg.payload + measured;\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":160,"wires":[["91d9ee6c.290c","2c585132.aa42ae"]]},{"id":"2c585132.aa42ae","type":"twitter out","z":"34364de.cb072b2","twitter":"","name":"Tweet","x":1190,"y":160,"wires":[]},{"id":"36390717.1125a8","type":"serial out","z":"34364de.cb072b2","name":"","serial":"79956cb7.ae0fc4","x":610,"y":100,"wires":[]},{"id":"dcdb016e.6e9e6","type":"serial in","z":"34364de.cb072b2","name":"","serial":"79956cb7.ae0fc4","x":170,"y":160,"wires":[["d54d6584.600fa8"]]},{"id":"79956cb7.ae0fc4","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem1412","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
