tempearture_report/tweet_temperature.json
[{"id":"34364de.cb072b2","type":"tab","label":"Weather report"},{"id":"9d036291.8189","type":"inject","z":"34364de.cb072b2","name":"Temperature poll","topic":"","payload":"report_temperature()","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":135,"y":66,"wires":[["27d65ca2.7b6db4"]]},{"id":"d54d6584.600fa8","type":"switch","z":"34364de.cb072b2","name":"Filter temperature messages","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"°C","vt":"str"}],"checkall":"true","outputs":1,"x":397,"y":141,"wires":[["dd6b8908.1c9418"]]},{"id":"27d65ca2.7b6db4","type":"function","z":"34364de.cb072b2","name":"Add carriage return","func":"msg.payload = msg.payload+\"\\r\"; \nreturn msg;","outputs":1,"noerr":0,"x":341,"y":67,"wires":[["36390717.1125a8"]]},{"id":"91d9ee6c.290c","type":"debug","z":"34364de.cb072b2","name":"","active":true,"console":"false","complete":"false","x":989,"y":141,"wires":[]},{"id":"dd6b8908.1c9418","type":"function","z":"34364de.cb072b2","name":"Remove any newlines","func":"msg.payload = msg.payload.replace(\"\\n\",\"\");\nmsg.payload = msg.payload.replace(\"\\r\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":141,"wires":[["e0e1a44.3440158"]]},{"id":"e0e1a44.3440158","type":"template","z":"34364de.cb072b2","name":"Add text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It is currently {{payload}} in the lab.","x":833,"y":141,"wires":[["91d9ee6c.290c","ca7ce3a4.04da9"]]},{"id":"ca7ce3a4.04da9","type":"twitter out","z":"34364de.cb072b2","twitter":"","name":"Tweet","x":975,"y":192,"wires":[]},{"id":"dcdb016e.6e9e6","type":"serial in","z":"34364de.cb072b2","name":"","serial":"79956cb7.ae0fc4","x":149,"y":141,"wires":[["d54d6584.600fa8"]]},{"id":"36390717.1125a8","type":"serial out","z":"34364de.cb072b2","name":"","serial":"79956cb7.ae0fc4","x":568,"y":68,"wires":[]},{"id":"79956cb7.ae0fc4","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem1412","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
