twitter_alert/twitter_alert.json
[{"id":"5f1407aa.3a0298","type":"tab","label":"Twitter alert"},{"id":"3e221a9e.34b1c6","type":"inject","z":"5f1407aa.3a0298","name":"5 Pulses","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":400,"y":200,"wires":[["dfdd3b21.4de488"]]},{"id":"dfdd3b21.4de488","type":"function","z":"5f1407aa.3a0298","name":"Pulse","func":"msg.payload = \"pulse(\"+msg.payload+\")\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["a4f36206.c9841"]]},{"id":"a4f36206.c9841","type":"serial out","z":"5f1407aa.3a0298","name":"","serial":"d0b49be2.0fff98","x":850,"y":200,"wires":[]},{"id":"61ca7f3d.09a38","type":"twitter in","z":"5f1407aa.3a0298","twitter":"","tags":"TheLandingMCUK","user":"false","name":"Tweets mentioning me","topic":"tweets","inputs":0,"x":186.3636474609375,"y":115.45454406738281,"wires":[["7555f0ed.eb0bd"]]},{"id":"7555f0ed.eb0bd","type":"trigger","z":"5f1407aa.3a0298","op1":"5","op2":"","op1type":"num","op2type":"nul","duration":"1","extend":false,"units":"ms","reset":"","name":"5","x":375.9091148376465,"y":143.63636016845703,"wires":[["dfdd3b21.4de488"]]},{"id":"d0b49be2.0fff98","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem1412","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
