twitter_alert/twitter_alert.json
[{"id":"34364de.cb072b2","type":"tab","label":"Twitter alert"},{"id":"dc45001d.b2683","type":"inject","z":"34364de.cb072b2","name":"5 Pulses","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":400,"y":200,"wires":[["f5db805a.01128"]]},{"id":"f5db805a.01128","type":"function","z":"34364de.cb072b2","name":"Pulse","func":"msg.payload = \"pulse(\"+msg.payload+\")\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["ac3ee86.cbe6f18"]]},{"id":"ac3ee86.cbe6f18","type":"serial out","z":"34364de.cb072b2","name":"","serial":"79956cb7.ae0fc4","x":850,"y":200,"wires":[]},{"id":"77ee3230.72ca1c","type":"twitter in","z":"34364de.cb072b2","twitter":"","tags":"@microb_IOT","user":"false","name":"Tweets mentioning me","topic":"tweets","inputs":0,"x":420,"y":140,"wires":[["f5db805a.01128"]]},{"id":"79956cb7.ae0fc4","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem1412","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
