twitter_alert/twitter_alert.json
[{"id":"3d12775.34f3d88","type":"tab","label":"Twitter alert"},{"id":"da8c2b19.9ef058","type":"inject","z":"3d12775.34f3d88","name":"5 Pulses","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":200,"wires":[["d83a017.6df2b"]]},{"id":"d83a017.6df2b","type":"function","z":"3d12775.34f3d88","name":"Pulse","func":"msg.payload = \"pulse(\"+msg.payload+\")\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["341ac408.c1061c"]]},{"id":"341ac408.c1061c","type":"serial out","z":"3d12775.34f3d88","name":"","serial":"daefff66.51818","x":850,"y":200,"wires":[]},{"id":"11922136.35d76f","type":"twitter in","z":"3d12775.34f3d88","twitter":"","tags":"TheLandingMCUK","user":"false","name":"Tweets mentioning me","topic":"tweets","inputs":0,"x":240,"y":160,"wires":[["ec6d57f4.a3bb58"]]},{"id":"ec6d57f4.a3bb58","type":"change","z":"3d12775.34f3d88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["d83a017.6df2b"]]},{"id":"daefff66.51818","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem1412","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
