basic_api_examples/metaweather.json
[{"id":"9dc4d7fd.6db768","type":"tab","label":"MetaWeather"},{"id":"ca29bb0d.f4a258","type":"http request","z":"9dc4d7fd.6db768","name":"MetaWeather – Salford","method":"GET","ret":"obj","url":"https://www.metaweather.com/api/location/33887","tls":"","x":520,"y":200,"wires":[["437da2f6.c39bdc"]]},{"id":"ded8d3f0.cdf67","type":"inject","z":"9dc4d7fd.6db768","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":350,"y":200,"wires":[["ca29bb0d.f4a258"]]},{"id":"d2001ae0.2e3918","type":"debug","z":"9dc4d7fd.6db768","name":"","active":true,"console":"false","complete":"false","x":1010,"y":200,"wires":[]},{"id":"437da2f6.c39bdc","type":"function","z":"9dc4d7fd.6db768","name":"Parse single weather prediction","func":"msg.payload = msg.payload.consolidated_weather[0];\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["d2001ae0.2e3918"]]}]
